<%= form_for(@status) do |f| %>
  <% if @status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@status.errors.count, "error") %> prohibited this status from being saved:</h2>

      <ul>
      <% @status.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>  <span class="required"> *  </span> <br/>
    <%= f.text_field :name %>
  </div>

  <div class="field">
     <%= f.label :style %> <span class="required"> *  </span> <br/>
    <%= f.text_field :style %>
  </div>
  
  <div class="field">
     <%= f.label :link_style %> <span class="required"> *  </span> <br/>
    <%= f.text_field :link_style %>
  </div>
  
  <div class="actions">
    <%= f.submit class: "btn btn-primary btn-small"%>
  </div>
<% end %>
