<%= form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table>
    <tr>
      <td>
        <div class="field">
          <%= f.label :company %><br>
          <%= f.text_field :company %>
        </div>
      </td>
      <td>
        <div class="field">
          <%= f.label :recruiter %><br>
          <%= f.text_field :recruiter %>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <div class="field">
          <%= f.label :recruiter_email %><br>
          <%= f.text_field :recruiter_email %>
        </div>
      </td>
      <td>
        <div class="field">
          <%= f.label :recruiter_phone %><br>
          <%= f.text_field :recruiter_phone %>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <div class="field">
          <%= f.label :recruiter_cell %><br>
          <%= f.text_field :recruiter_cell %>
        </div>
      </td>
      <td>
        <div class="field">
          <%= f.label :last_contact %><br>
          <input type="text" name="job[last_contact]" value=<%= @job.last_contact.blank? ? Time.now.to_date.strftime("%m-%d-%Y") :  @job.last_contact.to_date.strftime("%m-%d-%Y") %> data-behaviour='datepicker' >
        </div>
      </td>
    </tr>



    <tr>
      <td>
        <div class="field">
          <%= f.label :company_website %><br>
          <%= f.text_field :company_website %>
        </div>
      </td>
      <td>
        <div class="field">
          <%= f.label :position %><br>
          <%= f.text_field :position %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="field">
          <%= f.label :company_contact %><br>
          <%= f.text_field :company_contact %>
        </div>
      </td>
      <td>
        <div class="field">
          <%= f.label :company_phone %><br>
          <%= f.text_field :company_phone %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="field">

          <%= f.label :company_address %><br>
          <%= f.text_area :company_address %>
        </div>
      </td>
      <td>
        <div class="field">
          <%= f.label :comments %><br>
          <%= f.text_area :comments %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="field">
          <%= f.label :status %><br>
          <%= f.select(:status, Status.all.collect{|s| [s.name, s.id]})%>
        </div>
      </td>
      <td>

      </td>
    </tr>
  </table>
  <div class="actions">
    <%= f.submit class: "btn btn-primary btn-small"%>
  </div>
<% end %>

<script type="text/javascript">
    $(document).ready(function(){
        $('[data-behaviour~=datepicker]').datepicker();
    })
</script>