<h1>Jobs</h1>

<div id="search">
  <%= render :partial => "layouts/search_form" %>
</div>


<div class="new-link">
  <a href="/jobs/new" class="btn btn-primary btn-small"><i class="icon-white icon-heart"></i> New Job</a>
</div>

<div class="jobs-table">
    <table>
      <thead>
        <tr>
          <th><%= link_to "Company", '/jobs_all/company' %></th>
          <th><%= link_to "Recruiter", '/jobs_all/recruiter' %></th>
          <th><%= link_to "Last contact", '/jobs_all/last_contact' %></th>
          <th><%= link_to "Status", '/jobs_all/status' %></th>
          <th colspan="3">Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @jobs.each do |job| %>
          <tr  style="<%= job.status.style  %>" >
            <td><%= job.company %></td>
            <td><%= job.recruiter[0..20] unless job.recruiter.blank? %></td>
            <td class="last-contact"><%= job.last_contact.strftime("%m-%d-%Y") unless job.last_contact.blank? %></td>
            <td><%= job.status.name %></td>
            <td><%= link_to 'Show', job, class: "btn btn-primary btn-small" %></td>
            <td><%= link_to 'Edit', edit_job_path(job), class: "btn btn-primary btn-small" %></td>
            <td><%= link_to 'Destroy', job, class: "btn btn-primary btn-small", method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>
<br>
<div class="new-link">
  <a href="/jobs/new" class="btn btn-primary btn-small"><i class="icon-white icon-heart"></i> New Job</a>
</div>

